<div id="<%= dom_id comment %>">
  <p>
    <strong>Post:</strong>
    <%= comment.post_id %>
  </p>

  <p>
    <strong>Posted at <% time_ago_in_words(comment.created_at) %></strong>
    <%= comment.body %>
  </p>

</div>
